.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  gap: 1rem;
}

.nav ul{
  display: flex;
  gap: 1rem;

  & li {
    padding: 0;
    list-style: none;
  }

  & a {
    font-weight: 600;
    text-decoration: none;
    transition: color 300ms ease;
    &:hover {
      color: var(--color-primary);
    }
  }
}
