<header class="header">
  <div class="header-left">
    <figure class="logo">
      <img src="/assets/logo/car-logo.webp" alt="Loco Spartan Motors">
    </figure>
    <h2>Spartan Motors</h2>
  </div>

  <div class="header-right">
    <nav class="nav">
      <ul>
        <li><a routerLink="/list-offers">Autos</a></li>
        <li><a routerLink="/contact">Contáctanos</a></li>
        <li><a routerLink="/session/login">Iniciar sesión</a></li>
      </ul>
    </nav>

    <app-menu />
  </div>
</header>
