.wrapper {
  --boxed-size: 90rem;
  --boxed: max(calc((100vw - var(--boxed-size)) / 2), 1.25rem);
  padding-inline: var(--boxed) !important;
  height: var(--height, auto);
}

.content {
  display: flex;
  align-items: var(--align-it, center);
  justify-content: var(--justify-ctn, center);
  flex-direction: var(--direction, column);
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1rem);
}

.btn{
  --color-white: #fbfbfb;
  --color-orange: #ff7020;
  --color: #000;

  position: relative;
  padding: 12px 36px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color);
  background: var(--color-white);
  border: none;
  border-radius: 50px;
  isolation: isolate;
  overflow: hidden;
  cursor: pointer;
  min-height: 2.8125rem;
  transition:
    color var(--duration-short) var(--ease-in-out),
    background var(--duration-short) var(--ease-in-out);

  &::before{
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--color-orange);
  z-index: -1;
  transition: left 0.5s ease;
  border-radius: 50px
  }

  &:hover::before{
    left: 0;
  }
  &:hover{
    --color: #fff
  }
}

.btn[outline] {
  --color-white: transparent;
  --color-orange: #fbfbfb;
  --color: #fbfbfb;
  box-shadow: inset 0 0 0 2px #fbfbfb;
  &:hover{
    --color: #000;
  }
}

.btn[focused] {
  background-color: var(--color-orange);
  color: var(--color-white);

  &::before {
    background-color: transparent;
  }
}

.title-banner {
  font-size: var(--fs-title-banner);
  font-weight: 700;
  line-height: 1.5;
}

.title {
  font-size: var(--fs-title);
  font-weight: 700;
  line-height: 1.5;
}

.paragraph {
  font-size: var(--fs-paragraph);
  font-weight: 500;
}

.grid-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(24rem,100%), 1fr));
  gap: 1.75rem;
}

.link{
  text-decoration: none;
  color: var(--color-link, var(--color-white));
  transition: color var(--duration-short) var(--ease-in-out);

  &:hover {
    color: var(--color-primary);
  }
}

.container-form {
  width: 100%;
  max-width: 450px;
  padding: var(--padding-block-form) var(--padding-inline-form);
  border: 1px solid var(--color-gray);
  background-color: #111111;
  border-radius: 12px;
  text-align: center;

  p {
    margin-block-end: 0;
  }
}

textarea {
  outline: none;
}

.input-custom, .textarea-custom {
  width: 100%;
  background-color: transparent;
  color: var(--color-white);
  outline: none;
  border-radius: var(--border-input);
  border: 1px solid var(--color-gray);
  padding: 1rem;
  transition: border-color var(--duration-short) var(--ease-in-out);

  &::placeholder {
    color: var(--color-gray);
    transition: color var(--duration-short) var(--ease-in-out);
  }

  &:focus::placeholder {
    color: transparent;
  }

  &:focus, &:focus-within {
    border-color: var(--color-primary);
  }
}

.textarea-custom {
  resize: none;
}

.row {
  display: flex;
  flex-flow: var(--direction, column) var(--wrap, nowrap);
  align-items: flex-start;
  gap: 0.75rem;
}

:is(input, textarea):optional {
  border-color: var(--color-gray);
}
:is(input, textarea):optional:focus {
  border-color: #ff4d4d;
}
:is(input, textarea):focus {
  border-color: #00FE67;
}

:is(input, textarea):optional:focus:valid {
  border-color: #00FE67;
}
:is(input, textarea):optional:focus:invalid {
  border-color: #ff4d4d;
}

:is(input, textarea):required:valid {
  border-color: #00FE67;
}
:is(input):not(:placeholder-shown):valid {
  border-color: #00FE67;
}
:is(input, textarea):focus:invalid {
  border-color: #ff4d4d;
}
