<div class="container">
  <form class="formulario flow" [formGroup]="formCheckout" (ngSubmit)="onSubmit()">
    <!-- <h2>¿Quién Conducirá?</h2> -->

    <h3>Datos obligatorios para el alquiler</h3>

    <div class="row">
      <div>
        <label for="nombre">Fecha Inicio</label>
        <input class="input-custom" type="date" id="fecha_inicio" name="fecha_inicio" placeholder="Fecha de inicio de alquiler" formControlName="fecha_inicio">
      </div>

      <div>
        <label for="apellido">Fecha Final</label>
        <input class="input-custom" type="date" id="fecha_fin" name="fecha_fin" placeholder="Fecha final del alquiler" formControlName="fecha_fin">
      </div>
    </div>

    <div class="row">
      <label for="correo">Adicional</label>
      <input class="input-custom" type="text" id="adicional" name="adicional" placeholder="Adicional" formControlName="adicional">
    </div>

    <div class="row">
      <label for="direccion">Seguro</label>
      <input class="input-custom" type="text" id="seguro" name="seguro"
        placeholder="Ingrese el seguro" formControlName="seguro">
    </div>


    <div class="row">
      <label for="direccion">Dirección de Entrega</label>
      <input class="input-custom" type="text" id="lugar_entrega" name="lugar_entrega"
        placeholder="Ingrese dirección donde se hará entrega del vehiculo" formControlName="lugar_entrega">
    </div>

    <div class="row">
      <label for="celular">Garantía</label>
      <input class="input-custom" type="number" id="garantia" name="garantia" placeholder="Monto para la garantía" formControlName="garantia">
    </div>

    <button class="btn">
      Continuar
    </button>
  </form>

  <div class="tarjeta">
    <h2>Resúmen de su reserva:</h2>
    <div class="modelo-vehiculo">
      <figure>
        <img
          src="https://www.sixt.com/fileadmin2/files/global/sideview/user_upload/fleet/png/350x200/toyota-agya-5d-white-2024.png"
          alt="Image description" width="92" height="72">
      </figure>
      <div>
        <p><strong>{{ itemCar().marca }} {{ itemCar().modelo }}</strong></p>
        <p>Alquiler por {{ daysRent() || ' __ '}} días</p>
      </div>
    </div>
    <!-- <p><strong>Entrega:</strong> Lima Miraflores<br>Dom, 02 feb 2025 | 12:30 PM</p>
    <p><strong>Retorno:</strong> Lima Miraflores<br>Mar, 04 feb 2025 | 12:30 PM</p> -->
    <ul>
      <li>Seguro de terceros</li>
      <li>Libre de responsabilidad por daños y pérdidas hasta $2000.00</li>
      <li>Kilometraje ilimitado</li>
      <li>Opción de reserva: Sea flexible: pague al momento de la recogida, cancelación gratuita y nueva reserva en
        cualquier momento antes de la hora de recogida</li>
    </ul>
  </div>
</div>
