.menu {
  --size: 3.5rem;
  width: var(--size);
  height: var(--size);
  background-color: var(--color-primary);
  border-radius: 50%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;

  cursor: pointer;

  & span {
    display: inline-block;
    width: 16px;
    height: 2px;
    background-color: #fbfbfb;
  }
}
