.wrapper {
  --height: 100%;
}
.banner {
  --height: calc(100vh - 104px);
  height: var(--height);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url("public/assets/home/delorean.webp");
    background-size: 150% 100%;
    background-position: center;
    z-index: -1;
    mask-image: url("public/assets/home/generated-black.gif");
    mask-size: cover;
    mask-position: center;
    mask-repeat: no-repeat;
  }
}
.content {
  height: var(--height);
}
.content-cards {
  padding-block: 4rem;
}
#cards {
  --numcards: 4;
  view-timeline-name: --cards-element-scrolls-in-body;
  padding: 0;

  & li {
    list-style: none;
  }
}

.card {
  --index0: calc(var(--index) - 1);
  --reverse-index: calc(var(--numcards) - var(--index0));
  --reverse-index0: calc(var(--reverse-index) - 1);
}

.card {
  position: sticky;
  top: 0;
  padding-top: calc(var(--index) * var(--card-top-offset));
}

.card_content {
  --start-range: calc(var(--index0) / var(--numcards) * 100%);
  --end-range: calc(var(--index) / var(--numcards) * 100%);
  animation: linear scale forwards;
  animation-timeline: --cards-element-scrolls-in-body;
  animation-range: exit-crossing var(--start-range) exit-crossing var(--end-range);
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
  background: var(--color-black);
  color: rgb(10, 5, 7);
  border-radius: 1em;
  overflow: hidden;
  display: grid;
  grid-template-areas: "text img";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: stretch;
  outline: var(--outline-width) solid blue;
  padding: 1em;
  font-family: Arial, sans-serif;
  box-shadow: 1px 1px 1px 2px #ffffff08;
}

@keyframes scale {
  to {
    transform: scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
  }
}

.flow {
  --flow-space: 2rem;
}

.texts {
  text-align: center;
}
.grid-cards {
  & .clients-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 14.75rem;
    border-radius: 1.25rem;

    & h3 {
      position: relative;
      z-index: 3;
    }

    & .logo-and-bg-video {
      position: absolute;
      z-index: 1;
      inset: 0;
      & video {
        width: 100%;
        height: 100%;
        border-radius: 1.25rem;
        object-fit: cover;
        background-repeat: no-repeat;
      }
    }
  }

  & .clients-overlay{
    position: absolute;
    background-color: var(--color-primary);
    inset: 0;
    z-index: 2;
    border-radius: 1.25rem;
    transition: opacity var(--hover-duration) var(--hover-timing);
  }

  & .clients-card:hover .clients-overlay {
    opacity: 0;
  }
}

.grid-testimonials {
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 212px);
  gap: 2.5rem;

  & .testimonial {
    position: relative;
  }

  & .small {
    grid-column: span 2;
    /* grid-row: span 1; */
    grid-row: span 2;
  }

  & .big {
    /* grid-column: span 3; */
    grid-column: span 2;
    grid-row: span 2;
  }

  & .logo-and-bg-video {
    position: absolute;
    z-index: 1;
    inset: 0;
    & video {
      width: 100%;
      height: 100%;
      border-radius: 1.25rem;
      object-fit: cover;
      background-repeat: no-repeat;
    }
  }

  & .testimonial-text {
    position: absolute;
    bottom: 0;
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: linear-gradient(transparent);
    height: 100%;
    border-radius: 1.25rem;
    padding: 2rem;
    gap: 1rem;
    overflow: hidden;

    p, h3 {
      margin: 0;
    }

    & img {
      width: 4rem;
      aspect-ratio: 1;
      border-radius: 50%;
    }

    & .text-hidden {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      translate: 0 130%;
      opacity: 0;
      transition: var(--duration-medium) var(--bounce);
      transition-property: opacity, translate;
    }
  }
}

.testimonial:hover .testimonial-text {
    background-image: linear-gradient(to top, #000000e6, #010101e6 48%, #03030300);
}
.testimonial:hover .testimonial-text .text-hidden {
    translate: 0 0;
    opacity: 1;
}
