<section class="banner">
  <div class="wrapper">
    <div class="content">
      <h2 class="title-banner">Spartan Motors</h2>
      <p class="paragraph">Empresa lider en importaciones para automóviles</p>
    </div>
  </div>
</section>

<section class="clients">
  <div class="wrapper flow">
    <div class="texts">
      <h2 class="title">Nuestro catálogo</h2>
      <p class="paragraph">Ut sapien eros, tincidunt enim amet id sociis aliqua velit auctor mauris quamol donec id ac
        sed ultricies
        aliquam aliquet quis imperdiet in enim mi at nibh</p>
    </div>
    <div class="grid-cards">
      @for (client of listClients; track $index) {
      <a class="clients-card">
        <h3>{{ client.name }}</h3>
        <div class="logo-and-bg-video">
          <video autoplay loop muted playsinline data-wf-ignore="true" data-object-fit="cover">
            <source [src]="client.source_mp4">
            <source [src]="client.source_webp">
          </video>
        </div>
        <div class="clients-overlay"></div>
      </a>
      }
    </div>
  </div>
</section>

<section class="content-cards">
  <div class="wrapper">
    <ul id="cards">
      <li class="card" id="card_1" style="--index:1">
        <div class="card_content">
          <div>
            <h2>Card one</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus fuga, quos nulla veritatis
              molestias,
              ab, reiciendis illo repellat iure est corporis sunt nemo. Praesentium corrupti, doloremque a veritatis
              pariatur placeat!</p>
            <button class="boton-1">
              <span class="texto-boton">Hola</span>
            </button>
            <button class="boton-2">
              <span class="texto-boton">Chau</span>
            </button>
          </div>
          <figure>
            <img src="https://scroll-driven-animations.style/demos/stacking-cards/shared/img-1.jpg"
              alt="Image description" width="358" height="363">
          </figure>
        </div>
      </li>
      <li class="card" id="card_2" style="--index:2">
        <div class="card_content">
          <div>
            <h2>Card two</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus fuga, quos nulla veritatis
              molestias,
              ab, reiciendis illo repellat iure est corporis sunt nemo. Praesentium corrupti, doloremque a veritatis
              pariatur placeat!</p>
            <button class="boton-1">
              <span class="texto-boton">Hola</span>
            </button>
            <button class="boton-2">
              <span class="texto-boton">Chau</span>
            </button>
          </div>
          <figure>
            <img src="https://scroll-driven-animations.style/demos/stacking-cards/shared/img-2.jpg"
              alt="Image description" width="358" height="363">
          </figure>
        </div>
      </li>
      <li class="card" id="card_3" style="--index:3">
        <div class="card_content">
          <div>
            <h2>Card three</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus fuga, quos nulla veritatis
              molestias,
              ab, reiciendis illo repellat iure est corporis sunt nemo. Praesentium corrupti, doloremque a veritatis
              pariatur placeat!</p>
            <button class="boton-1">
              <span class="texto-boton">Hola</span>
            </button>
            <button class="boton-2">
              <span class="texto-boton">Chau</span>
            </button>
          </div>
          <figure>
            <img src="https://scroll-driven-animations.style/demos/stacking-cards/shared/img-3.jpg"
              alt="Image description" width="358" height="363">
          </figure>
        </div>
      </li>
      <li class="card" id="card_4" style="--index:4">
        <div class="card_content">
          <div>
            <h2>Card four</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus fuga, quos nulla veritatis
              molestias,
              ab, reiciendis illo repellat iure est corporis sunt nemo. Praesentium corrupti, doloremque a veritatis
              pariatur placeat!</p>
            <button class="boton-1">
              <span class="texto-boton">Hola</span>
            </button>
            <button class="boton-2">
              <span class="texto-boton">Chau</span>
            </button>
          </div>
          <figure>
            <img src="https://scroll-driven-animations.style/demos/stacking-cards/shared/img-1.jpg"
              alt="Image description" width="358" height="363">
          </figure>
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="banner">
  <div class="wrapper">
    <div class="content">
      <h2 class="title-banner">Spartan Motors</h2>
      <p class="paragraph">Empresa lider en importaciones para automóviles</p>
    </div>
  </div>
</section>
