<div class="container">
  <h2>Mi perfil</h2>
  <form class="formulario" [formGroup]="formProfile" (ngSubmit)="onSubmit()">
    <div class="right flow">
      <div class="row">
        <label for="name">Nombre y Apellido</label>
        <input class="input-custom" type="text" id="name" name="name" placeholder="Nombres" formControlName="nombre">
      </div>
      <div class="row">
        <label for="email">Correo Electrónico</label>
        <input class="input-custom" type="email" id="email" name="email" placeholder="Correo Electrónico" formControlName="email">
      </div>
      <div class="row">
        <label for="date">Fecha Nacimiento</label>
        <input class="input-custom" type="date" id="date" name="date"
          placeholder="Fecha de nacimiento" formControlName="nacimiento">
      </div>
      <div class="row">
        <label for="phone">Celular</label>
        <input class="input-custom" type="tel" id="phone" name="phone" placeholder="Número de celular" formControlName="celular">
      </div>
    </div>

    <div class="left flow">
      <div class="row">
        <label for="type_document">Tipo de documento</label>
        <select class="input-custom" id="type_document" name="type_document" formControlName="tipo_documento">
          <option value="dni">DNI</option>
          <option value="pasaporte">Pasaporte</option>
          <option value="carnet_extranjeria">Carnet de extranjería</option>
        </select>
      </div>
      <div class="row">
        <label for="nro_document">Número de documento</label>
        <input class="input-custom" type="text" id="nro_document" name="nro_document" placeholder="Número de documento" formControlName="documento">
      </div>
      <div class="row">
        <label for="preference_comunication">Preferencia de comunicación</label>
        <select class="input-custom" id="preference_comunication" name="preference_comunication" formControlName="preferencia_comunicacion">
          <option value="whatsapp">Whatsapp</option>
          <option value="email">Email</option>
          <option value="llamada">Telegram</option>
        </select>
      </div>
      <div class="row">
        <label for="licence">Licencia</label>
        <input class="input-custom" type="text" id="licence" name="licence" placeholder="Número de licencia" formControlName="licencia">
      </div>
      <button class="btn">Guardar</button>
    </div>
  </form>
</div>

<div class="container">
  <div class="dashboard__body">
    <h1 class="subtitle">Autos alquilados</h1>
    <div class="list__container">
      <div class="table__wrapper">
        <table>
          <thead>
            <th>ID Vehículo</th>
            <th>Vehículo</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Estado</th>
            <th></th>
          </thead>
          <tbody>
            @for (rent of carsRentUser; track rent.id) {
              <tr>
                <td>{{ rent.vehiculo_id }}</td>
                <td>{{ rent.marca }} - {{ rent.modelo }}</td>
                <td>{{ rent.fecha_inicio }}</td>
                <td>{{ rent.fecha_fin }}</td>
                <td> <span [className]="typeStateRent(rent.estado_alquiler)">{{ rent.estado_alquiler }}</span></td>
                <td>
                  <button class="btn" (click)="updateStateRent(rent.id, rent.fecha_fin)">Devolver auto</button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-toast #toast></app-toast>
