<div class="container">
  <h2>Mi perfil</h2>
  <form class="formulario">
    <div class="right flow">
      <div class="row">
        <label for="nombre">Nombre y Apellido</label>
        <input class="input-custom" type="text" id="nombre" name="nombre" placeholder="Nombres">
      </div>
      <div class="row">
        <label for="correo">Correo Electrónico</label>
        <input class="input-custom" type="email" id="correo" name="correo" placeholder="Correo Electrónico">
      </div>
      <div class="row">
        <label for="date">Fecha Nacimiento</label>
        <input class="input-custom" type="date" id="date" name="date"
          placeholder="Fecha de nacimiento">
      </div>
      <div class="row">
        <label for="celular">Celular</label>
        <input class="input-custom" type="tel" id="celular" name="celular" placeholder="Número de celular">
      </div>
    </div>

    <div class="left flow">
      <div class="row">
        <label for="type_document">Tipo de documento</label>
        <select class="input-custom" id="type_document" name="type_document">
          <option value="dni">DNI</option>
          <option value="pasaporte">Pasaporte</option>
          <option value="carnet_extranjeria">Carnet de extranjería</option>
        </select>
      </div>
      <div class="row">
        <label for="nro_document">Número de documento</label>
        <input class="input-custom" type="text" id="nro_document" name="nro_document" placeholder="Número de documento">
      </div>
      <div class="row">
        <label for="preference_comunication">Preferencia de comunicación</label>
        <select class="input-custom" id="preference_comunication" name="preference_comunication">
          <option value="whatsapp">Whatsapp</option>
          <option value="email">Email</option>
          <option value="llamada">Telegram</option>
        </select>
      </div>
      <div class="row">
        <label for="licence">Licencia</label>
        <input class="input-custom" type="text" id="licence" name="licence" placeholder="Número de licencia">
      </div>
      <button class="btn">Guardar</button>
    </div>


  </form>
</div>
