.container {
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: auto;

  & .flow {
    --flow-space: 2rem;
  }
}

.input-custom {
  height: 3.25rem;
}

.formulario {
  width: 100%;
  display: flex;
  gap: 1.875rem;

  & .right, & .left {
    flex: 1;
  }
}
.edad {
  display:flex;
  margin-top: 15px;
}

.edad-check{
  width: 10%;
  margin-top: 15px;
}

.edad-check:checked {
  accent-color: var(--color-primary);
}

.modelo-vehiculo{
  display:flex;
  gap:5px
}

.tarjeta h2 {
  margin-bottom: 15px;
}

.tarjeta p {
  margin: 5px 0;
}

.tarjeta ul {
  list-style-type: none;
  padding: 0;
}

.tarjeta ul li {
  list-style-type: '✔';
  margin: 5px 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.dashboard__body {
  display: flex;
  flex-flow: column nowrap;
}

.table__wrapper {
  border: 1px solid var(--cl-gray);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 8px rgb(0 0 0 / 0.2);
  overflow-x: auto;

  & table {
    width: 100%;
    min-width: 60rem;
  }

  & thead th:first-child {
    border-radius: 0.5rem 0 0 0;
  }

  & thead th:last-child {
    border-radius:  0 0.5rem 0 0;
  }

  td, th {
    text-align: left;
    padding: 0.8rem 1.5rem;
  }

  & th {
    background-color: var(--cl-black);
    color: var(--cl-white);
  }

  & tbody tr:not(:last-child){
    border-bottom: 1px solid var(--cl-gray);
  }

  & tbody tr {
    background-color: var(--bg-secondary);
  }

  & tbody tr:last-child td{
    border-radius:  0 0 0.5rem 0.5rem;
  }

  & .activo, & .atrasado, & .antes-tiempo, & .tiempo {
    line-height: 1;
    font-size: 1rem;
    color: #fff;
    border-radius: 0.6rem;
    padding: 0.5rem;
  }

  & .activo {
    background-color: #2ba366;
  }

  & .tiempo {
    background-color: #4984eb;
  }

  & .atrasado {
    background-color: #ff3232;
  }

  & .antes-tiempo {
    background-color: #bdbd11;
  }
}

@media (max-width: 500px) {
  .formulario {
    flex-direction: column;
  }
}