@import './styles/fonts.css';
@import "./styles/_reset.css";
@import './styles/_variables.css';
@import "./styles/_utilities.css";

body {
  background-color: var(--color-black);
  font-family: 'Onest', sans-serif;
  margin: 0;
}
